
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.main-body {
    width: 100vw;
    height: 100vh;
    display: grid;
    background-image: url("./images/hero-bg.jpg") ;
    background-repeat: no-repeat;
}

