.navbar {
    position: fixed;
    background-color: #188CE1;
    height: 6vh;
    width: 100%;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar ul {
    display: flex;
}

.navbar ul > li {
    list-style: none;
    margin-right: 2em;
}

.nav-logo {
    letter-spacing: 3px;
}

a:hover {
    transform: scale(1.25);
}